<ion-item>
  <ion-title text-center>Comportamiento</ion-title>
</ion-item>
<ion-item *ngIf="lista.length=='0'">
  <ion-label text-center>
    <h3>No se encuentran registros de comportamiento<br>
      del parvulo.</h3>
  </ion-label>
</ion-item>

<ion-card *ngFor="let comportamiento of lista">
  <ion-item>
    <ion-label>Fecha:{{comportamiento.fecha_registro}}</ion-label>
    <ion-label>Hora: {{comportamiento.hora_registro}}</ion-label>
  </ion-item>
  <ion-item *ngIf="comportamiento.incidencia=='reunion'">
    <ion-label>Incidencia: Reunión</ion-label>
  </ion-item>
  <ion-item *ngIf="comportamiento.incidencia!='reunion'">
    <ion-label>Incidencia: Notificar</ion-label>
  </ion-item>
  <ion-item *ngIf="comportamiento.hora">
    <ion-label>Hora reuniónn:{{comportamiento.hora}}</ion-label>
  </ion-item>
  <ion-item *ngIf="comportamiento.hora">
    <ion-label>Fecha reunión:{{comportamiento.hora}}</ion-label>
  </ion-item>
  <ion-card-content>
    {{comportamiento.descripcion}}
  </ion-card-content>
</ion-card>