<ion-item>
  <ion-title text-center>Medicamentos</ion-title>
</ion-item>
<ion-item *ngIf="lista.length=='0'">
  <ion-label text-center>
    <h3>No se encuentran registros de algún<br>
      medicamento activo.</h3>
  </ion-label>
</ion-item>

<ion-card *ngFor="let medicamento of lista">
  <ion-card-header>
    <ion-card-title>{{medicamento.nombre}}</ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>
  <ion-item>
    <ion-label>Fecha:{{medicamento.fecha}}</ion-label>
    <ion-label>Hora: {{medicamento.hora}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Dosis:{{medicamento.dosis}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label for="certificado">Certificado:</ion-label>
    <ion-icon id="certificado" name="document"></ion-icon>
  </ion-item>

  <ion-card-content>
    {{medicamento.detalle}}
  </ion-card-content>
</ion-card>


<ion-button (click)="presentModal()">Agregar nuevo</ion-button>